* {
    font-family: Georgia, Garamond, serif;
}

body {
    background-color: #f0e7d8;
}

.menu {
    align-self: center;
    table-layout: fixed;
    border: 3px solid black;
    border-radius: 3px;
}

.sideNav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: forestgreen;
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.25s;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: beige;
}

.centeredLogo img {
    display: block;
    margin: auto;
    width: auto;
}

h1 {
    text-align: center;
}

a.button {
    padding: 1px 6px;
    border: 1px outset buttonborder;
    border-radius: 3px;
    color: buttontext;
    background-color: buttonface;
    text-decoration: none;
}

.gallery {
    display: grid;
    grid-template-rows: repeat(auto-fill, minmax(250px, 300px));
    gap: 16px;
    padding: 16px;
    width: auto;
    object-fit: cover;
}

.galleryFramedPhoto img {
    border: 10px solid #FFFFFF;
    width: auto;
}

.galleryFramedPhoto img:hover {
    transform: scale(1.10);
}

div.gallery-item {
    text-align: center;
}

